<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Tags</title>
</head>

<body>
  <h1><%= title %></h1>
  <p>Current second: <%= seconds %></p>
  <% if (seconds % 2 === 0) { %>
    <ul>
      <% items.forEach((fruit)=> { %>
        <li><%=fruit %></li>
        <%}) %>    
    </ul>
    <% } else {%>
      <p>No items to display</p>
      <% } %>
  <p><%- htmlContent %></p>
  <%- include("footer.ejs") %>
</body>

</html>